<% 
					 @count = 0 
    Sizetype.find_all_by_godown_id_and_company_id(1,1).each do |h|
      unless h.quantity.nil?
        @count += h.quantity
      end
    end 
				 %>
<table class="table table-striped table-condensed table-bordered">
		<thead>
		 
			<th style="text-align:center"> 
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= @count%> in Stock">
					<h3><%=c.company_name%></h3>
				</a>
			</th>	 
		</thead>
		<tbody>
			<tr>
				<td>Size/Brand</td>
				<% Type.find_all_by_company_id(c.id).each do |t| %>
					<td><%=t.type_name%> </td>
				<% end %>
			</tr>
			<% Size.find_all_by_company_id(c.id).each do |s| %>
				<tr>
					<td><%= s.size %></td> 
					<% Type.find_all_by_company_id(c.id).each do |type|%>
						<%quan =   Sizetype.find_all_by_company_id_and_type_id_and_size_id(c.id, type.id, s.id) %>		
					<% quan.each do |q| %>
					       <% unless q.quantity == 0 %>
						  	
							<td style="color:red;font-weight:bold;font-size:17px;">  <%= q.quantity %> Pipes</td>
							<% else %>
							<td> No Stock</td>
						  <%end %>
					       <% end  %>
					<% end %>
				</tr>
		 	<% end %>
		</tbody>
	</table>