<!-- 	<legend><h2>All Stock Listings <small><%= Godown.all.map(&:godown_place)  %></small></h2></legend>
			<table class="table table-striped table-condensed table-bordered">
	<% @sizetypes.each do |s| %>
		<%	unless s.quantity == 0 %>
				<thead>
					<th style="text-align:center"> 
						<a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title=" in stock">
							<h3><%=Company.find(s.company_id).company_name%>(<%= Godown.find(s.godown_id).godown_place %>)</h3>
						</a>
					</th>	 
				</thead>
				<tbody>
					<tr>
						<td>Size/Brand</td>
						<td><%=Type.find(s.type_id).type_name%> </td>
					</tr>
					<tr>
						<td><%= Size.find(s.size_id).size %></td> 
						<td>  <%= s.quantity %></td>
					</tr>
				</tbody>
		<%	end %>
	<%	end	%>
			</table>
 -->


 <legend><h2>All Stock Listings <small><%= Godown.all.map(&:godown_place)  %></small></h2></legend>

 <% @companies.each do |c| %>
	<table class="table table-striped table-condensed table-bordered">
		<thead>
		 
			<th style="text-align:center"> 
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= Sizetype.find_all_by_company_id(c.id).count%> in stock">
					<h3><%=c.company_name%>(<%= c.godown.godown_place %>)</h3>
				</a>
			</th>	 
		</thead>
		<tbody>
			<tr>
				<td>Size/Brand</td>
				<% Type.find_all_by_company_id(c.id).each do |t| %>
					<td><%=t.type_name%> </td>
				<% end %>
			</tr>
			<% Size.find_all_by_company_id(c.id).each do |s| %>
				<tr>
					<td><%= s.size %></td> 
					<% Type.find_all_by_company_id(c.id).each do |type|%>
						<%quan =   Sizetype.find_all_by_company_id_and_type_id_and_size_id(c.id, type.id, s.id) %>		
						<% quan.each do |q| %>
						  <% unless q.quantity == 0 %>
						  	
							<td style="color:red;font-weight:bold;font-size:17px;">  <%= q.quantity %> Pipes</td>
							<% else %>
							<td> No Stock</td>
						  <%end %>
						<% end  %>
					<% end %>
				</tr>
		 	<% end %>
		</tbody>
	</table>
<% end %>